button {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
}

.button {
  min-width: 130px;
}

.dotdotdot {
  line-height: 15px;
}

.is-create {
  color: black;
  background-color: white;
  border: 2px solid black;
  &:hover {
    color: white;
    background-color: $grey;
  }
}

.is-destroy {
  color: white;
  background-color: black;
  &:hover {
    background-color: red;
  }
}
