body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}

h1 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 50px;
}

h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 40px;
}

h3 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 30px;
}

h4 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 25px;
}

h5 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
    &:hover {
    color: $grey;
  }
}

.italics {
  font-style: italic;
}

.hashtag {
  font-family: 'IM Fell DW Pica', serif;
  margin-right: 20px;
  color: $grey;
  display: inline-block;
  &.violet {
  color: violet;
  font-size: 20px
  }
  &.indigo {
  color: indigo;
  font-size: 30px
  }
  &.blue {
  color: blue;
  font-size: 40px
  }
  &.green {
  color: green;
  font-size: 50px
  }
  &.yellow {
  color: yellow;
  font-size: 60px
  }
  &.orange {
  color: orange;
  font-size: 70px
  }
  &.red {
  color: red;
  font-size: 80px
  }
}

.grey {
  color: $grey;
}

@media only screen and (max-width: 768px) {

  body {
    font-size: 20px;
  }


  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 25px;
  }
}
