section {
  padding: 0;
}

footer {
  font-family: 'IM Fell English SC', serif;
  margin-top: 80px;
}

.field {
  margin-bottom: 20px;
  max-width: 500px;
}

.definitions {
  margin-top: 20px;
  border-top: 2px solid $grey;
}

.instructions {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.process {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  display: none;
}

.loading {
  height: 50px;
  width: 50px;
}

.tagcloud {
  padding: 0 10px 40px;
  a {
    color: $grey;
  }
}

.tagbar {
  max-width: 500px;
  text-align: center;
  padding: 0 10px 10px;;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  min-height: 640px;
  max-width: 500px;
}

.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

.dangerzone {
  width: 100%;
  min-height: 250px;
  border: 5px solid red;
  margin: 100px 20px 0 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.is-denied {
  color: white;
  background-color: black;
}

.is-welcome {
  color: white;
  background-color: $grey;
}



@media only screen and (max-width: 768px) {

  .card {
    min-height: 300px;
  }

  .home {
    display: none;
  }

}
