html {

}

.card {
  min-height: 450px;
}

.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.largeimage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
