@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|IM+Fell+DW+Pica:400,400i|IM+Fell+English+SC');

$grey: rgba(147, 154, 188, 1);


body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}

h1 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 50px;
}

h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 40px;
}

h3 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 30px;
}

h4 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 25px;
}

h5 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 20px;
}

button {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

section {
  padding: 0;
}

footer {
  font-family: 'IM Fell English SC', serif;
  margin-top: 100px;
}

input {
  margin-bottom: 20px;
}

.reverse {
  flex-direction: row-reverse;
}


.italics {
  font-style: italic;
}

.loading {
  height: 50px;
  width: 50px;
}

.definitions {
  margin-top: 20px;
  border-top: 2px solid $grey;
}

.dotdotdot {
  line-height: 15px;
}

.instructions {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.process {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  display: none;
}

.card {
  margin: 0 auto;
  min-height: 620px;
  max-width: 500px;
}

.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

.dangerzone {
  width: 100%;
  min-height: 250px;
  border: 5px solid red;
  margin: 100px 20px 0 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
    &:hover {
    color: $grey;
  }
}

.navbar-brand {
  a {
    font-style: italic;
    &:hover {
      color: inherit;
      text-shadow: 2px 2px $grey;
    }
  }
}

.navbar-end {
  a {
  &:hover {
    color: white;
    background-color: $grey;
  }
}
}

.navbar-burger {
  &:hover {
    background-color: $grey;
  }
}


.is-denied {
  color: white;
  background-color: black;
}

.is-welcome {
  color: white;
  background-color: $grey;
}

.is-create {
  color: black;
  background-color: white;
  border: 2px solid black;
  &:hover {
    color: white;
    background-color: $grey;
  }
}

.is-destroy {
  color: white;
  background-color: black;
  &:hover {
    background-color: red;
  }
}

@media only screen and (max-width: 768px) {

  body {
    font-size: 20px;
  }

  .card {
    min-height: 300px;
  }


}
