@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|IM+Fell+DW+Pica:400,400i|IM+Fell+English+SC');

$grey: rgba(147, 154, 188, 1);


body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}

h1 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 50px;
}

h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 40px;
}

h3 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 30px;
}

button {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}

.card {
  margin: 0 auto;
  min-height: 450px;
  max-width: 600px;
}

.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.card-image-show {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.dangerzone {
  width: 100%;
  height: 250px;
  border: 5px solid red;
  margin: 100px 20px 0 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

a {
  font-weight: 700;
  color: black;
    &:hover {
    color: $grey;
  }
}

.navbar-brand {
  a {
    font-style: italic;
    &:hover {
      color: inherit;
      text-shadow: 2px 2px $grey;
    }
  }
}

.navbar-end {
  a {
  &:hover {
    color: white;
    background-color: $grey;
  }
}
}

.navbar-burger {
  &:hover {
    background-color: $grey;
  }
}


.is-denied {
  color: white;
  background-color: black;
}

.is-welcome {
  color: white;
  background-color: $grey;
}

.is-create {
  color: black;
  background-color: white;
  border: 2px solid black;
  &:hover {
    color: white;
    background-color: $grey;
  }
}

.is-destroy {
  color: white;
  background-color: black;
  &:hover {
    background-color: red;
  }
}

@media only screen and (max-width: 600px) {

  .card-image-show {
    height: 300px;
  }

}
